<div class="signup center-block jumbotron">
  <h1>Hello User! Reset your password here!</h1>
  <form role="form" (submit)="resetPassword(resetPasswordForm)" [formGroup]="resetPasswordForm">
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" #password class="form-control" id="password" placeholder="new password" formControlName="password">
    <div class = "alert alert-danger" *ngIf="resetPasswordForm.get('password').touched && resetPasswordForm.get('password').hasError('required')">
      Password is required
    </div>
    <div *ngIf = "resetPasswordForm.get('password').touched && resetPasswordForm.get('password').hasError('minlength') && !resetPasswordForm.get('password').hasError('required')" class = "alert alert-danger">
      <span>Password should contain atlease 3 characters</span>
    </div>
    <label for="cnfpassword">Confirm Password</label>
    <input type="password" #cnfpassword class="form-control" id="cnfpassword" placeholder="confirm password" formControlName="cnfpassword">
    <div *ngIf = "resetPasswordForm.get('password').touched && resetPasswordForm.get('cnfpassword').touched && resetPasswordForm.hasError('PasswordMatchValidator')" class = "alert alert-danger">
      Passwords do not match!!!
    </div>
  <button type="submit" class="btn btn-default" [disabled]="resetPasswordForm.invalid">Submit</button><br />
    <a (click)="login($event)">Already a member!</a>
  </div>
</form>
</div>
